Flask==0.12
Flask-SQLAlchemy==2.2
gunicorn==19.7.1
Jinja2==2.9.5
MarkupSafe==1.0
more-itertools==2.5.0
ndg-httpsclient==0.4.2
oauthlib==2.0.1
psycopg2==2.7.1
requests==2.13.0
requests-oauthlib==0.8.0
SQLAlchemy==1.1.8
virtualenv==15.1.0
Werkzeug==0.12.1
